In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\win10\python\python311\lib\site-packages (2.2.3)

WARNING: Ignoring invalid distribution ~ip (C:\Users\win10\python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\win10\python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\win10\python\Python311\Lib\site-packages)

Requirement already satisfied: numpy>=1.23.2 in c:\users\win10\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\win10\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\win10\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\win10\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\win10\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset_path = "C:/Users/win10/Desktop/US_Accidents_March23.csv"
us_accidents_df = pd.read_csv(dataset_path)

In [4]:
us_accidents_df.isnull()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
us_accidents_df.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [6]:
(us_accidents_df.isnull().sum()/us_accidents_df.shape[0])*100

ID                        0.000000
Source                    0.000000
Severity                  0.000000
Start_Time                0.000000
End_Time                  0.000000
Start_Lat                 0.000000
Start_Lng                 0.000000
End_Lat                  44.029355
End_Lng                  44.029355
Distance(mi)              0.000000
Description               0.000065
Street                    0.140637
City                      0.003274
County                    0.000000
State                     0.000000
Zipcode                   0.024779
Country                   0.000000
Timezone                  0.101030
Airport_Code              0.292881
Weather_Timestamp         1.555666
Temperature(F)            2.120143
Wind_Chill(F)            25.865904
Humidity(%)               2.253301
Pressure(in)              1.820288
Visibility(mi)            2.291524
Wind_Direction            2.267043
Wind_Speed(mph)           7.391355
Precipitation(in)        28.512858
Weather_Condition         2.244438
Amenity                   0.000000
Bump                      0.000000
Crossing                  0.000000
Give_Way                  0.000000
Junction                  0.000000
No_Exit                   0.000000
Railway                   0.000000
Roundabout                0.000000
Station                   0.000000
Stop                      0.000000
Traffic_Calming           0.000000
Traffic_Signal            0.000000
Turning_Loop              0.000000
Sunrise_Sunset            0.300787
Civil_Twilight            0.300787
Nautical_Twilight         0.300787
Astronomical_Twilight     0.300787
dtype: float64

In [7]:
# Drop the columns of 'End_lat' & 'End_lng' from this dataset.
us_accidents_df.drop(['End_Lat', 'End_Lng'], axis=1, inplace=True)

In [8]:
# Handling the missing data of 'Wind_Speed(mph)' & 'Precipitation(in)'
temp_df = us_accidents_df[['Wind_Speed(mph)', 'Precipitation(in)']][:1000000]
temp_df.head()

   Wind_Speed(mph)  Precipitation(in)
0              NaN               0.02
1              NaN               0.00
2              3.5                NaN
3              4.6                NaN
4              3.5                NaN

In [10]:
import pandas as pd
from sklearn.impute import KNNImputer

# Suppose temp_df is your large DataFrame with 7.7 million rows

# Step 1: Randomly sample 10,000 rows from the dataset
sample_df = temp_df.sample(n=100000, random_state=42)

# Step 2: Perform KNN imputation on the sample
knn_imputer = KNNImputer(n_neighbors=2)
sample_imputed = knn_imputer.fit_transform(sample_df)
sample_imputed_df = pd.DataFrame(sample_imputed, columns=sample_df.columns)

# Step 3: This sample_imputed_df is your imputed subset
print(sample_imputed_df.head())

   Wind_Speed(mph)  Precipitation(in)
0        13.000000           0.000000
1        11.500000           0.000000
2        10.000000           0.000000
3        10.400000           0.020000
4         7.769027           0.013425

### TASK: Impute the columns of 'Wind_Speed(mph)' & 'Weather_Conditions'