## RoadSafe Analytics: US Accidents EDA - Initial Exploration

In [1]:
# Import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Path to dataset CSV (update as needed)
dataset_path = "C:/Users/win10/Desktop/US_Accidents_March23.csv"

In [5]:
try:
    accidents_df = pd.read_csv(dataset_path)
    print(f'Dataset loaded successfully with shape: {accidents_df.shape}')
except FileNotFoundError:
    print(f'Dataset file not found at the path: {dataset_path}')

Dataset loaded successfully with shape: (7728394, 46)

In [6]:
# Display first 5 rows for quick glance
display(accidents_df.head())

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

#### Explore Dataset Structure

In [ ]:
# Print dataset shape
print(f"\nDataset has {accidents_df.shape[0]} rows and {accidents_df.shape[1]} columns")

# List all columns with their data types
print("\nColumn Data Types:")
print(accidents_df.dtypes)

# More detailed info including non-null counts
print("\nDataset Info:")
accidents_df.info()

Dataset has 7728394 rows and 46 columns

Column Data Types:
ID                        object
Source                    object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

Sample of key columns:

    ID  Severity           Start_Time          City State Weather_Condition
0  A-1         3  2016-02-08 05:46:00        Dayton    OH        Light Rain
1  A-2         2  2016-02-08 06:07:59  Reynoldsburg    OH        Light Rain
2  A-3         2  2016-02-08 06:49:27  Williamsburg    OH          Overcast
3  A-4         3  2016-02-08 07:23:34        Dayton    OH     Mostly Cloudy
4  A-5         2  2016-02-08 07:39:07        Dayton    OH     Mostly Cloudy

#### Check Missing Data and Visualization

In [8]:
# Calculate missing values and percentage missing
missing_values = accidents_df.isnull().sum()
missing_percent = (missing_values / len(accidents_df) * 100)

missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percent Missing': missing_percent
})

# Filter columns with missing data
missing_summary = missing_summary[missing_summary['Missing Values'] > 0].sort_values(by='Missing Values', ascending=False)

print("\nColumns with Missing Data:")
display(missing_summary)

Columns with Missing Data:

                       Missing Values  Percent Missing
End_Lat                       3402762        44.029355
End_Lng                       3402762        44.029355
Precipitation(in)             2203586        28.512858
Wind_Chill(F)                 1999019        25.865904
Wind_Speed(mph)                571233         7.391355
Visibility(mi)                 177098         2.291524
Wind_Direction                 175206         2.267043
Humidity(%)                    174144         2.253301
Weather_Condition              173459         2.244438
Temperature(F)                 163853         2.120143
Pressure(in)                   140679         1.820288
Weather_Timestamp              120228         1.555666
Sunrise_Sunset                  23246         0.300787
Civil_Twilight                  23246         0.300787
Nautical_Twilight               23246         0.300787
Astronomical_Twilight           23246         0.300787
Airport_Code                    22635         0.292881
Street                          10869         0.140637
Timezone                         7808         0.101030
Zipcode                          1915         0.024779
City                              253         0.003274
Description                         5         0.000065

In [11]:
# # Visualize missing data heatmap for columns with the most missing data
# plt.figure(figsize=(140, 70))
# sns.heatmap(accidents_df[missing_summary.index].isnull(), cbar=False, yticklabels=False, cmap='viridis')
# plt.title('Missing Data Heatmap for Columns with Missing Values')
# plt.show()

In [ ]:
# Explore severity distribution
print("\nAccident Severity Distribution:")
print(accidents_df['Severity'].value_counts().sort_index())

# Check unique weather conditions
print("\nUnique Weather Conditions:")
print(accidents_df['Weather_Condition'].unique())   

# Convert Start_Time to datetime and extract hour for future analysis
accidents_df['Start_Time'] = pd.to_datetime(accidents_df['Start_Time'], errors='coerce')
accidents_df['Hour'] = accidents_df['Start_Time'].dt.hour

print("\nSample data with Hour extracted from Start_Time:")
display(accidents_df[['Start_Time', 'Hour']].head())

Accident Severity Distribution:
Severity
1      67366
2    6156981
3    1299337
4     204710
Name: count, dtype: int64

Unique Weather Conditions:
['Light Rain' 'Overcast' 'Mostly Cloudy' 'Rain' 'Light Snow' 'Haze'
 'Scattered Clouds' 'Partly Cloudy' 'Clear' 'Snow'
 'Light Freezing Drizzle' 'Light Drizzle' 'Fog' 'Shallow Fog' 'Heavy Rain'
 'Light Freezing Rain' 'Cloudy' 'Drizzle' nan 'Light Rain Showers' 'Mist'
 'Smoke' 'Patches of Fog' 'Light Freezing Fog' 'Light Haze'
 'Light Thunderstorms and Rain' 'Thunderstorms and Rain' 'Fair'
 'Volcanic Ash' 'Blowing Sand' 'Blowing Dust / Windy' 'Widespread Dust'
 'Fair / Windy' 'Rain Showers' 'Mostly Cloudy / Windy'
 'Light Rain / Windy' 'Hail' 'Heavy Drizzle' 'Showers in the Vicinity'
 'Thunderstorm' 'Light Rain Shower' 'Light Rain with Thunder'
 'Partly Cloudy / Windy' 'Thunder in the Vicinity' 'T-Storm'
 'Heavy Thunderstorms and Rain' 'Thunder' 'Heavy T-Storm' 'Funnel Cloud'
 'Heavy T-Storm / Windy' 'Blowing Snow' 'Light Thunderstorms and Snow'
 'Heavy Snow' 'Low Drifting Snow' 'Light Ice Pellets' 'Ice Pellets'
 'Squalls' 'N/A Precipitation' 'Cloudy / Windy' 'Light Fog' 'Sand'
 'Snow Grains' 'Snow Showers' 'Heavy Thunderstorms and Snow'
 'Rain / Windy' 'Heavy Rain / Windy' 'Heavy Ice Pellets'
 'Light Snow / Windy' 'Heavy Freezing Rain' 'Small Hail'
 'Heavy Rain Showers' 'Thunder / Windy' 'Drizzle and Fog'
 'T-Storm / Windy' 'Blowing Dust' 'Smoke / Windy' 'Haze / Windy' 'Tornado'
 'Light Drizzle / Windy' 'Widespread Dust / Windy' 'Wintry Mix'
 'Wintry Mix / Windy' 'Light Snow with Thunder' 'Fog / Windy'
 'Snow and Thunder' 'Light Snow Shower' 'Sleet' 'Light Snow and Sleet'
 'Snow / Windy' 'Rain Shower' 'Snow and Sleet' 'Light Sleet'
 'Heavy Snow / Windy' 'Freezing Drizzle' 'Light Freezing Rain / Windy'
 'Thunder / Wintry Mix' 'Blowing Snow / Windy' 'Freezing Rain'
 'Light Snow and Sleet / Windy' 'Snow and Sleet / Windy' 'Sleet / Windy'
 'Heavy Freezing Rain / Windy' 'Squalls / Windy'
 'Light Rain Shower / Windy' 'Snow and Thunder / Windy'
 'Light Sleet / Windy' 'Sand / Dust Whirlwinds' 'Mist / Windy'
 'Drizzle / Windy' 'Duststorm' 'Sand / Dust Whirls Nearby'
 'Thunder and Hail' 'Heavy Sleet' 'Freezing Rain / Windy'
 'Light Snow Shower / Windy' 'Partial Fog' 'Thunder / Wintry Mix / Windy'
 'Patches of Fog / Windy' 'Rain and Sleet' 'Light Snow Grains'
 'Partial Fog / Windy' 'Sand / Dust Whirlwinds / Windy'
 'Heavy Snow with Thunder' 'Light Snow Showers' 'Heavy Blowing Snow'
 'Light Hail' 'Heavy Smoke' 'Heavy Thunderstorms with Small Hail'
 'Light Thunderstorm' 'Heavy Freezing Drizzle' 'Light Blowing Snow'
 'Thunderstorms and Snow' 'Dust Whirls' 'Rain Shower / Windy'
 'Sleet and Thunder' 'Heavy Sleet and Thunder' 'Drifting Snow / Windy'
 'Shallow Fog / Windy' 'Thunder and Hail / Windy' 'Heavy Sleet / Windy'
 'Sand / Windy' 'Heavy Rain Shower / Windy' 'Blowing Snow Nearby'
 'Heavy Rain Shower' 'Drifting Snow']

Sample data with Hour extracted from Start_Time:

           Start_Time  Hour
0 2016-02-08 05:46:00   5.0
1 2016-02-08 06:07:59   6.0
2 2016-02-08 06:49:27   6.0
3 2016-02-08 07:23:34   7.0
4 2016-02-08 07:39:07   7.0